// 重置
@import "~@mcui/core";
// 主题
@import "components/theme@red";
@import "components/mc-btn";
// @import "~mc-tinting/theme/mc-tinting@theme=default";

html {
  // 移动端
  @media screen and (max-width: 600px) {
    & {
      font-size: 11px;
      padding-top: 50px;
    }

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
      background: #fff;
      z-index: -100;
    }
  }
  // 桌面端
  @media screen and (min-width: 601px) {
    & {
      font-size: 14px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      padding-top: 70px;
    }
  }
}

body {
  color: $co-read;
}

// 颜色
.co-main {
  color: $co-main;
}

.co-vice {
  color: $co-vice;
}

.co-note {
  color: $co-note;
}

.co-back {
  color: $co-back;
}

.co-warn {
  color: $co-warn;
}

.co-file {
  color: $co-file;
}

.co-link {
  color: $co-link;
}

.mc-file {
  font-family: Consolas, monospace, serif;
  color: $co-file;
  white-space: nowrap;
}

// 楼层
.floor {
  padding: 5rem 0;

  &:nth-child(odd) {
    background: $co-back;
  }
}

// 楼层标题
.floor-title {
  font-weight: 300;
  text-align: center;
  margin-bottom: 1rem;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;

  & > * {
    &:before,
    &:after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 3em;
      height: 1px;
      background: $co-note;
      margin: 0 .5em;
    }
  }

  // 移动
  @media screen and (max-width: 600px) {
    & {
      font-size: 16px;
    }
  }
  // 桌面端
  @media screen and (min-width: 601px) {
    & {
      font-size: 24px;
    }
  }
}

// 楼层说明
.floor-notes {
  text-align: center;
  margin: 1rem 0 3rem 0;
  color: $co-note;
}

/*表格*/
.mc-table {
  & {
    width: 100%;
    background: #fff;
    border: 1px solid $co-line;
    text-align: left;
  }

  & th:nth-child(1), & th:nth-child(2), & th:nth-child(3) {
    white-space: nowrap;
  }

  th, td {
    border: 1px solid $co-line;
    padding: 15px 5px;
    font-weight: normal;
  }

  // 移动
  // @media screen and (max-width: 600px) {
  //   & {

  //   }
  // }
  // 桌面端
  @media screen and (min-width: 601px) {
    & {
      th, td {
        padding: 15px 10px;
      }
    }
  }
}

.box {
  position: relative;
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
  @extend .cb;
}

/*头部*/
#header {
  // 移动
  @media screen and (max-width: 600px) {
    & {
      position: fixed;
      width: 100%;
      height: 50px;
      line-height: 50px;
      background: #fff;
      border-bottom: 1px solid $co-line;
      left: 0;
      top: 0;
      z-index: 5;

      // 头部标志
      #header-logo {
        float: left;
        font-size: 16px;

        // 版本号
        #header-version {
          font-size: .7em;
          padding-left: .5em;
        }
      }

      // 头部导航
      #header-nav {
        float: right;
      }
    }
  }
  // 桌面端
  @media screen and (min-width: 601px) {
    & {
      position: fixed;
      width: 100%;
      height: 70px;
      line-height: 70px;
      background: #fff;
      border-bottom: 1px solid $co-line;
      left: 0;
      top: 0;
      z-index: 5;

      // 头部标志
      #header-logo {
        float: left;
        font-size: 18px;

        // 版本号
        #header-version {
          font-size: .7em;
          padding-left: .5em;
        }
      }

      // 头部导航
      #header-nav {
        float: right;
      }
    }
  }
}

/*焦点图*/
@import "components/bg-banner";
#banner {
  // 标题
  .banner-title {
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 1rem;

    & > i {
      margin-right: 2px;
    }
  }

  // 按钮
  .banner-btn {
    margin-top: 2rem;
    white-space: nowrap;
    position: relative;
    border-radius: 2px;
    text-align: center;
    padding: .5em 1em;
    user-select: none;
    border: 1px solid transparent;
    background: $co-main;
    transition: all .1s;

    &:active {
      transform: scale3d(.98, .95, 1);
    }
  }

  // 移动
  @media screen and (max-width: 600px) {
    & {
      width: 100%;
      height: 180px;
    }

    .banner-title {
      margin-bottom: .5rem;
      font-size: 24px;
    }

    .banner-btn {
      margin-top: 1rem;
    }
  }
  // 桌面端
  @media screen and (min-width: 601px) {
    & {
      width: 100%;
      height: 330px;
    }

    .banner-title {
      margin-bottom: .5rem;
      font-size: 32px;
    }

    .banner-btn {
      margin-top: 1rem;
      font-size: 12px;
    }
  }
}

/*导航*/
@import "components/mc-nav";

/*介绍*/
#about-items {
  // 公共
  width: 100%;
  @extend .cb;

  & > * {
    text-align: center;
    margin-bottom: 2rem;

    .about-item-design {
      width: 8rem;
      height: 8rem;
      line-height: 7.9rem;
      border: 1px solid $co-read;
      display: inline-block;
      border-radius: 50%;
      font-size: 24px;
      font-weight: 300;
    }

    // .about-item-content {
    // }
  }

  // 移动
  @media screen and (max-width: 600px) {
    & > * {
      width: 100%;
      background: #fff;
      padding: 2rem;

      .about-item-title {
        font-size: 14px;
        margin: .5rem 0;
      }
    }
  }
  // 桌面端
  @media screen and (min-width: 601px) {
    & > * {
      width: 33.333333%;
      float: left;
      padding: 0 3rem;

      .about-item-title {
        font-size: 16px;
        margin: .5rem 0;
      }
    }
  }
}

/*主题*/
#theme {
  .theme-item {
    text-align: center;
    padding: 2em 0;
  }
}

/*赞助*/
#sponsored {
  text-align: center;

  #alipay {
    width: 100%;
    max-width: 260px;
    border: 5px solid rgba(0, 0, 0, .05);
    border-radius: 6px;
  }
}

/*底部*/
#footer {
  padding: 2rem 0;
  text-align: center;
  border-top: 1px solid $co-line;

  .footer-desc {
    margin-bottom: .5em;
  }
}

.floor-odd-pre {
  background: #fff !important;
}
